* {
    padding: 0;
    margin: 0;
}
body {
    size: 100%;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    padding: 60px 30px;
    font-family: 'Outfit', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper {
    width: 248px;
    background-color:  hsl(216, 50%, 16%);
    padding: 30px 30px 10px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 2px 5px 20px black;
}
.wrapper div.container a img {
    width: 248px;
    height: 248px;
    border-radius: 10px;
    display: block;
    opacity: 1;
    transition: .5s ease-out;
    backface-visibility: hidden;
}
.wrapper div.container a:hover img {
    opacity: 1;
}
.wrapper div.container a:hover div.middle {
    opacity: 0.6;
}
.wrapper div.container a div.middle {
    width: 250px;
    height: 250px;
    opacity: 0;
    top: 90px;
    border-radius: 10px;
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper h1 {
    font-size: 1em;
    margin: 20px 0 15px;
}
.wrapper h1 a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.wrapper h1 a:hover {
    color: hsl(178, 100%, 50%);
}
.wrapper p {
    line-height: 25px;
    font-size: 0.8em;
}
.eth {
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
}
.eth p {
    line-height: 35px;
    padding-left: 15px;
    background-image: url(./images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: left;
    color: hsl(178, 100%, 50%);
}
.eth p.right {
    margin-left: auto;
    padding-left: 22px;
    background-image: url(./images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: left;
    color: hsl(215, 51%, 70%);
}
.creator {
    display: inline-flex;
    width: 100%;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 15px;
    margin-top: 10px;
}
.creator img {
    height: 25px;
    width: 25px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 10px;
}
.creator p a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.creator p a:hover {
    color: hsl(178, 100%, 50%);
}
.attribution {
    font-size: 11px; 
    text-align: center; 
    margin-top: 5px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    body {
        padding: 4.4% 0;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding: 20% 0;
    }
}